<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="ChromaEmu.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2"/></startup>
    <userSettings>
        <ChromaEmu.Properties.Settings>
            <setting name="dns_servers" serializeAs="String">
                <value/>
            </setting>
            <setting name="nic" serializeAs="String">
                <value/>
            </setting>
            <setting name="key" serializeAs="String">
                <value>BlcZ496fTZFH42KefU1GsoDOFipI1dQz</value>
            </setting>
            <setting name="iv" serializeAs="String">
                <value>GnzlGN3UlwtjEc19vdrNgd42PGLkxytx</value>
            </setting>
            <setting name="url_key" serializeAs="String">
                <value>https://cc.aqbt.pw/aes/key</value>
            </setting>
            <setting name="url_iv" serializeAs="String">
                <value>https://cc.aqbt.pw/aes/iv</value>
            </setting>
            <setting name="key_exchange" serializeAs="String">
                <value>H8vixq8IKlKdem39KWY9+Uu92/PeI8nbpwtwd95iOzI=</value>
            </setting>
            <setting name="iv_exchange" serializeAs="String">
                <value>To1w3uRk0heLJFsCGSnNSgJneVIGR5+CIiUM7PhzFsI=</value>
            </setting>
            <setting name="emu_url" serializeAs="String">
                <value>https://chromaemu.000webhostapp.com</value>
            </setting>
        </ChromaEmu.Properties.Settings>
    </userSettings>
</configuration>
